<h1>{{ question.subject }}</h1>

<div>
    {{ question.content }}
</div>

<!-- 인터프리터 형식이기 때문에 되돌아온 값을 표시하려면 입력 Form보다 위에 위치해야함. -->

<h5>{{ question.answer_set.count }}개의 답변이 있습니다.</h5>
<div>
    <ul>
        {% for answer in question.answer_set.all %}
            <li>{{ answer.content }}</li>
        {% endfor %}
    </ul>
</div>


<form action="{% url 'firstapp:answer_create' question.id %}" method="post">
    {% csrf_token %}
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="답변 등록">
</form>